@media (min-width:769px) {
  .main__wrapper {
    .lower__text,
    .plus__text {
      font-size: 48px;
    }
    .upper__text {
      font-size: 30px;
    }
    .form__wrapper {
      max-width: 562px;
      .form {
        .left_form,
        .right_form {
          width: 47.5%;
          
        }
        .submit {
          padding: 32px 92px;
        }
        .birthday {
          width: 30.5%;
        }
      }
    }
  }
  .footer {

    .footer__payment {
      padding: 0 20px;
      margin: 30px 0;
    }
    .footer__payment-short {
      text-align: center;
    }
  }
}

@media (min-width:320px) and (max-width: 768px) {
  .wrapper {
    background-image: url("../../bg/low.png");
  }
  .main__wrapper {
    .upper__text {
      font-size: 18px;
    }
    .lower__text,
    .plus__text {
      font-size: 35px;
    }
    .form__wrapper {
      max-width: 320px;
      margin: 0 auto;
      .form {
        .left_form,
        .right_form {
          width: 100%;
        }
        .back {
          position: absolute;
          left: 99px;
          bottom: -89px;
        }
        .submit {
          padding: 24px 57px;
        }
        .birthday {
          width: 30.9%
        }
      }
    }
  }
  .footer {
    .footer__wrapper {
      max-width: 320px;
      padding: 10px;
    }
    .footer__payment {
      display: grid;
      margin-top: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
    .footer__payment-short {
      text-align: inherit;
      margin-top: 30px;
    }
  }
}