@media (min-width:320px) and (max-width: 768px) {
    .wrapper {
        background-image: url("../../bg/low.png");
    }
    .form__wrapper {
        max-width: 320px;
        margin: 0 auto;
        max-height: 100%
    }
    .lower__text,
    .plus__text {
        font-size: 35px;
    }
    .form1,
    .form2 {
        width: 100%;
    }
    .back {
        position: absolute;
        left: 99px;
        bottom: -89px;
    }
    .submit {
        padding: 24px 57px;
    }
}