html  
    head
        link(href='assets/styles/css/normalize.css', rel='stylesheet')
        link(href='assets/styles/css/selectric.css', rel='stylesheet')
        link(href='assets/styles/css/styles.css', rel='stylesheet')
        link(href='assets/styles/css/media.css', rel='stylesheet')
        title Zet
    body

        section.wrapper
            div.main__wrapper 
              div.form__wrapper
                div.logo
                  img(src="assets/bg/logo.png", alt="")
                .text
                  p.upper__text  Welcome bonus
                  p.lower__text 100% up to €500
                  p.plus__text +200 free spins
                  p.step Step 2/2
                form.form
                  div.form1
                    input.name(type="text" name="name" placeholder="Name")
                    input.birthday(type="number" name="day" placeholder="DD" min="1" max="31")
                    input.birthday(type="number" name="month" placeholder="MM" min="1" max="12")
                    input.birthday(type="number" name="year" placeholder="YY" min="1900" max="2018")
                    input.city(type="text" name="city" placeholder="City")
                    input.address(type="text" name="address" placeholder="Address")
                  div.form2
                    input.last__name(type="text" name="last__name" placeholder="Last Name")
                    select.select
                      option(value="1" selected  disabled="disabled" hidden="hidden") County
                      option(value="2") Country
                    input.postcode(type="text" name="postcode" placeholder="Postcode")
                    div.phone
                      select.select2
                        option(value="1" selected  disabled="disabled" hidden="hidden") +3 80
                    input.phone__number(type="number" name="postcode" placeholder="_ _ _ _")
                  .radio
                    label.container Male
                      input(type="radio" checked="checked" name="radio")
                      span.checkmark
                    label.container Female
                      input(type="radio" name="radio")
                      span.checkmark
                  .buttons
                    button.back Back
                    button.submit(type="submit") Registration     
        footer.footer
          .footer__wrapper
            .footer__text
              p Zetcasino.com is operated by Araxio Development N.V., a company registered and establisher under the laws of curacao and its wholly owned subsdiary Tranelli Ltd, a company incorporated under the laws of Cyprys with a company registration number HE363026 and having its registered office at Grigory Afxentiou,133, Agios Dometius,2369,Nikosia,Cyprus. Araxio development N.V./IS licensed and regulated by antillephone N.V. Araxio DEvelopment N.V.s registration  number is 141409 its registrated address is e-commerce park vredenberg, Curacao. Customer Support Team is available 24/7 via e-mail support@zetcasino.com, Live Chat, or phone + 356 3550 0425
            .footer__payment
              img(src="assets/bg/visa.png", alt="")
              img(src="assets/bg/mastercard.png", alt="")
              img(src="assets/bg/skrill.png", alt="")
              img(src="assets/bg/neteller.png", alt="")
              img(src="assets/bg/paysafecard.png", alt="")
              img(src="assets/bg/banktransfer.png", alt="")
            .footer__payment2
              img(src="assets/bg/klarna.png", alt="")
              img(src="assets/bg/multiblamco.png", alt="")
              img(src="assets/bg/payment_systems_yoyo_boleto.png", alt="")
            .copytight
              p 2018 © ZetCasino.com All rights reserved

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="assets/js/jquery.selectric.min.js")
        script(src="assets/js/myJs.js")