@media (min-width: 769px) {
  .main__wrapper .lower__text,
  .main__wrapper .plus__text {
    font-size: 48px; }
  .main__wrapper .upper__text {
    font-size: 30px; }
  .main__wrapper .form__wrapper {
    max-width: 562px; }
    .main__wrapper .form__wrapper .form .form1,
    .main__wrapper .form__wrapper .form .form2 {
      width: 48%; }
    .main__wrapper .form__wrapper .form .submit {
      padding: 32px 92px; }
    .main__wrapper .form__wrapper .form .birthday {
      width: 30.5%; }
  .footer .footer__payment {
    padding: 0 20px;
    margin: 30px; }
  .footer .footer__payment2 {
    text-align: center; } }

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    background-image: url("../../bg/low.png"); }
  .main__wrapper .upper__text {
    font-size: 18px; }
  .main__wrapper .lower__text,
  .main__wrapper .plus__text {
    font-size: 35px; }
  .main__wrapper .form__wrapper {
    max-width: 320px;
    margin: 0 auto; }
    .main__wrapper .form__wrapper .form .form1,
    .main__wrapper .form__wrapper .form .form2 {
      width: 100%; }
    .main__wrapper .form__wrapper .form .back {
      position: absolute;
      left: 99px;
      bottom: -89px; }
    .main__wrapper .form__wrapper .form .submit {
      padding: 24px 57px; }
    .main__wrapper .form__wrapper .form .birthday {
      width: 30.9%; }
  .footer .footer__wrapper {
    max-width: 320px; }
  .footer .footer__payment {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px; }
  .footer .footer__payment2 {
    text-align: inherit;
    margin-top: 30px; } }
