.wrapper {
  background-image: url("../../bg/weekend.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Roboto, sans-serif; }

.main__wrapper {
  max-width: 770px;
  margin: 0 auto; }
  .main__wrapper form {
    margin-bottom: 0;
    display: inline-table; }
  .main__wrapper .form__wrapper {
    padding-bottom: 95px;
    background-color: rgba(0, 0, 0, 0.5); }
    .main__wrapper .form__wrapper .logo {
      padding-top: 20px;
      text-align: center; }
    .main__wrapper .form__wrapper .text {
      margin: 0 20px; }
    .main__wrapper .form__wrapper .upper__text {
      margin-top: 20px;
      font-weight: 400;
      color: white; }
    .main__wrapper .form__wrapper .lower__text,
    .main__wrapper .form__wrapper .plus__text {
      margin-top: 26px;
      margin-bottom: 0;
      font-weight: bold;
      color: #fed22a; }
    .main__wrapper .form__wrapper .form {
      padding: 0 20px; }
      .main__wrapper .form__wrapper .form input {
        border: 1px solid #aaaaaa;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 13px 15px;
        width: 100%;
        height: 40px;
        margin: 10px 0;
        color: #888888;
        background-color: #000000;
        font-family: Roboto, sans-serif;
        font-weight: 900; }
      .main__wrapper .form__wrapper .form input .focus:hover,
      .main__wrapper .form__wrapper .form select .focus:hover {
        border-color: white; }
      .main__wrapper .form__wrapper .form input .focus:active,
      .main__wrapper .form__wrapper .form select .focus:active {
        border-color: white; }
      .main__wrapper .form__wrapper .form input .focus:focus,
      .main__wrapper .form__wrapper .form select .focus:focus {
        border-color: white; }
      .main__wrapper .form__wrapper .form .birthday {
        width: 30.5%;
        color: #888888; }
        .main__wrapper .form__wrapper .form .birthday:nth-child(3) {
          margin: 0 10px; }
      .main__wrapper .form__wrapper .form .phone {
        width: 32%;
        display: inline-grid;
        position: relative; }
      .main__wrapper .form__wrapper .form .phone__number {
        width: 64%;
        margin-left: 10px; }
      .main__wrapper .form__wrapper .form input[type=number]::-webkit-inner-spin-button,
      .main__wrapper .form__wrapper .form input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .main__wrapper .form__wrapper .form .terms {
        text-decoration: underline; }
      .main__wrapper .form__wrapper .form fieldset {
        border: 1px solid #4acc3f !important;
        height: 49px;
        padding: 0;
        position: relative;
        margin: 0; }
      .main__wrapper .form__wrapper .form .btn {
        position: relative;
        height: 100px;
        text-align: center;
        margin-top: 20px; }
      .main__wrapper .form__wrapper .form .tab {
        display: none; }
      .main__wrapper .form__wrapper .form .nextbtn {
        background-color: #fed22a;
        border-radius: 5px;
        border: none;
        font-size: 24px;
        font-weight: bold;
        margin: 0 auto;
        padding: 32px 78px;
        cursor: pointer; }
      .main__wrapper .form__wrapper .form .promocode {
        border: none;
        position: absolute;
        top: -1px;
        color: white;
        font-weight: bold; }
      .main__wrapper .form__wrapper .form .promolabel {
        color: #4acc3f;
        position: relative;
        z-index: 1; }
      .main__wrapper .form__wrapper .form .check {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 20px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white; }
      .main__wrapper .form__wrapper .form .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 0; }
      .main__wrapper .form__wrapper .form .mark {
        position: absolute;
        top: -4px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: black;
        border: 1px solid #aaaaaa;
        border-radius: 2px; }
      .main__wrapper .form__wrapper .form .check:hover input ~ .mark {
        background-color: black; }
      .main__wrapper .form__wrapper .form .check input:checked ~ .mark {
        background-color: #4acc3f;
        border: none; }
      .main__wrapper .form__wrapper .form .mark:after {
        content: "";
        position: absolute;
        display: none; }
      .main__wrapper .form__wrapper .form .check input:checked ~ .mark:after {
        display: block; }
      .main__wrapper .form__wrapper .form .check .mark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .main__wrapper .form__wrapper .form .radio {
        text-align: left;
        padding-top: 30px;
        /* Hide the browser's default radio button */
        /* Create a custom radio button */
        /* On mouse-over, add a grey background color */
        /* When the radio button is checked, add a blue background */
        /* Create the indicator (the dot/circle - hidden when not checked) */
        /* Show the indicator (dot/circle) when checked */
        /* Style the indicator (dot/circle) */ }
        .main__wrapper .form__wrapper .form .radio .container:nth-child(2) {
          margin-left: 30px; }
        .main__wrapper .form__wrapper .form .radio .container {
          display: inline-block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          color: white; }
        .main__wrapper .form__wrapper .form .radio .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer; }
        .main__wrapper .form__wrapper .form .radio .checkmark {
          position: absolute;
          top: 2px;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: black;
          border-radius: 50%;
          border: 1px solid white; }
        .main__wrapper .form__wrapper .form .radio .container:hover input ~ .checkmark {
          background-color: black; }
        .main__wrapper .form__wrapper .form .radio .container input:checked ~ .checkmark {
          background-color: black;
          border: 2px solid #4acc3f; }
        .main__wrapper .form__wrapper .form .radio .checkmark:after {
          content: "";
          position: absolute;
          display: none; }
        .main__wrapper .form__wrapper .form .radio .container input:checked ~ .checkmark:after {
          display: block; }
        .main__wrapper .form__wrapper .form .radio .container .checkmark:after {
          top: 3px;
          left: 3px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #4acc3f; }
      .main__wrapper .form__wrapper .form .buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 75px; }
      .main__wrapper .form__wrapper .form .back {
        color: white;
        text-decoration: underline;
        font-size: 18px;
        font-weight: bolder;
        background: transparent;
        border: none;
        margin-left: 10px;
        position: absolute;
        left: 0;
        cursor: pointer; }
      .main__wrapper .form__wrapper .form .back::before {
        content: "";
        background-image: url("../../bg/arrow.png");
        left: -15px;
        width: 17px;
        height: 19px;
        display: block;
        position: absolute; }
      .main__wrapper .form__wrapper .form .submit {
        background-color: #fed22a;
        border-radius: 5px;
        border: none;
        font-size: 25.8px;
        font-weight: bold;
        position: absolute;
        right: 0;
        cursor: pointer; }
    .main__wrapper .form__wrapper .step {
      color: #888888;
      margin: 30px 0 0 0;
      font-size: 13px;
      font-weight: 900; }
    .main__wrapper .form__wrapper .left_form {
      margin-right: 20px; }
    .main__wrapper .form__wrapper .left_form,
    .main__wrapper .form__wrapper .right_form {
      display: inline-block; }

.footer {
  background-color: #333333;
  padding: 28px 0 35px 0;
  font-family: Roboto, sans-serif; }
  .footer .footer__wrapper {
    max-width: 696px;
    margin: 0 auto; }
  .footer .footer__text {
    color: #cccccc;
    font-size: 12px;
    line-height: 1.5; }
  .footer .footer__payment {
    display: flex;
    justify-content: space-between; }
  .footer .footer__payment-short img:nth-child(2) {
    margin: 0 70px; }
  .footer .copyright {
    margin: 30px;
    color: white;
    font-size: 12px;
    text-align: center; }
